body {
    background-color: black;
}

.card {
    background-color: white;
    width: 300px;
    height: 100px;
    color: black;
}

.front {
    background-color: red;
    color: white;
    width: 300px;
    height: 100px;
}

.back {
    background-color: blue;
    width: 300px;
    height: 100px;
}
